.movie__container {
    display: grid;
    grid-template-columns: 360px;
    grid-template-rows: 201px 30px;
    width: 360px;
}

.movie__save {
    background-color: #F9F9F9;
    width: 72px;
    height: 21px;
    border: none;
    border-radius: 30px;
    position: absolute;
    margin-top: 14px;
    display: none;
    color: black;
    font-size: 10px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 9px;
    margin-left: 274px;
}

.movie__save-liked {
    background-image: url("../../images/icon-save-movie.svg");
    background-color: transparent;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: none;
    position: absolute;
    margin-top: 14px;
    margin-left: 325px;
}

.movie__photo {
    width: 360px;
    height: 201px;
    border-radius: 6px;
    grid-row: 1;
}

.movie__container:hover .movie__save {
    display: block;
}

.movie__description {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    padding: 14px 14px 0 14px;
}

.movie__title {
    color: black;
    font-size: 13px;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.movie__time {
    color: #A0A0A0;
    font-size: 11px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 10px;
    background-color: #F9F9F9;
    width: 52px;
    height: 18px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}