.profile__container {
    height: 432px;
    width: 410px;
    margin: auto;
    text-align: center;
}

.profile__title {
    color: black;
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    margin-bottom: 106px;
    margin-top: 74px;
    width: 410px;
    text-align: center;
}

.profile__form {
    width: 410px;
    text-align: center;
}

.profile__form_section {
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
}

.profile__form_section:last-of-type {
    border-bottom: none;
}

.profile__form-input {
    border: none;
    width: 122px;
    margin-right: 0;
    color: black;
    font-size: 11px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-align: right;
}

.profile__form-input:last-of-type {
    grid-column: 1;
    grid-row: 2;
}

.profile__form-description {
    color: black;
    font-size: 11px;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.profile__form-description:last-of-type {
    grid-column: 1;
    grid-row: 2;
}

.profile__link {
    text-decoration: none;
    color: #FF4062;
    max-width: 410px;
    text-align: center;
}

.profile__form-submit {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 203px auto 16px;
}